<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div *ngIf="currentLink == '/'">
        <h1 class="page-header">Kezelőpult</h1>

        <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
                <div class="dashboard-icon-div" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                    <span class="glyphicon glyphicon-user big-icon"></span>
                </div>
                <h4>{{ usersCount }}</h4>
                <span class="text-muted">lakó</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
                <div class="dashboard-icon-div" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                    <span class="glyphicon glyphicon-home big-icon"></span>
                </div>
                <h4>{{ roomsCount }}</h4>
                <span class="text-muted">szoba</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
                <div class="dashboard-icon-div" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                    <span class="glyphicon glyphicon-user big-icon"></span>
                </div>
                <h4>{{ staffCount }}</h4>
                <span class="text-muted">alkalmazott</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
                <div class="dashboard-icon-div" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                    <span class="glyphicon glyphicon-briefcase big-icon"></span>
                </div>
                <h4>{{ currentStaffCount }}</h4>
                <span class="text-muted">szolgálatban</span>
            </div>
        </div>

        <h2 class="sub-header">Lakók listája</h2>
        <div class="table-responsive">
            <app-user-table-row></app-user-table-row>
        </div>
    </div>

    <!-- user-manager. -->
    <div *ngIf="currentLink == '/user-manager'">
        <app-user-manager (newUser)="onNewUser($event)"></app-user-manager>
    </div>

    <!-- analytics. -->
    <div *ngIf="currentLink == '/analytics'">
        analytics div.
    </div>

    <!-- export. -->
    <div *ngIf="currentLink == '/export'">
        export div.
    </div>
</div>
