<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div *ngIf="currentLink == '/'">
        <h1 class="page-header">Dashboard</h1>

        <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                <h4>Label</h4>
                <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                <h4>Label</h4>
                <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                <h4>Label</h4>
                <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                <h4>Label</h4>
                <span class="text-muted">Something else</span>
            </div>
        </div>

        <h2 class="sub-header">Section title</h2>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Vezetéknév</th>
                        <th>Keresztnév</th>
                        <th>Email</th>
                        <th>Telefon</th>
                        <th>Hozzátartozó</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users">
                        <td>{{ user.id }}</td>
                        <td>{{ user.lastName }}</td>
                        <td>{{ user.firstName }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.phone }}</td>
                        <td>{{ user.relatives }}</td>
                        <td>
                            <div class="btn-group">
                              <button (click)="onChangeActive(user)"
                                  class="btn btn-xs"
                                  [ngClass]="{'btn-info': user.active, 'btn-warning': !user.active}">
                                      <span *ngIf="user.active">active</span>
                                      <span *ngIf="!user.active">inactive</span>
                              </button>
                              <button (click)="onEditUser(user)" class="btn btn-primary btn-xs">
                                  <span class="glyphicon glyphicon-edit"></span>
                              </button>
                              <button (click)="deleteUser(user)" class="btn btn-danger btn-xs">
                                  <span class="glyphicon glyphicon-remove"></span>
                              </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- user-manager. -->
    <div *ngIf="currentLink == '/user-manager'">
        <app-user-manager (newUser)="onNewUser($event)"></app-user-manager>
    </div>

    <!-- analytics. -->
    <div *ngIf="currentLink == '/analytics'">
        analytics div.
    </div>

    <!-- export. -->
    <div *ngIf="currentLink == '/export'">
        export div.
    </div>
</div>
