<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a [routerLink]="['']">Összefoglalás</a>
        </li>
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a [routerLink]="['/user-manager']">Lakó kezelés</a>
        </li>
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a [routerLink]="['/rooms']">Szobák</a>
        </li>
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a [routerLink]="['/supply']">Beszerzés</a>
        </li>
    </ul>
</div>
